@import "tailwindcss";


body {
  font-family: 'Geist Sans', sans-serif;
}
code {
  font-family: 'Geist Mono', monospace;
}
html, body, #root {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background: #171615;
  padding-bottom: env(safe-area-inset-bottom);
  
}

